* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

body {
    position: fixed;
    height: 100vh;
}

.pointer {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;

}

.texture-selector {
    padding: 2px;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 16px;
}

.texture-selector img {
    width: 70px;
    z-index: 100;
    image-rendering: pixelated;
    border: 3px solid black;
}

.texture-selector img.selected {
    border-color: white;
}

.menu {
    top: 10px;
    left: 10px;
    position: absolute;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 18px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    transition: all 0.5s;
}