* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

body {
    position: fixed;
    height: 100vh;
}

.pointer {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;

}

.texture-selector {
    padding: 2px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 16px;
}

.texture-selector img {
    width: 80px;
    z-index: 100;
    image-rendering: pixelated;
}